<!-- affix_base.html -->
<!DOCTYPE html>
<html>
	<head>
		{% include 'import.html' %}
		<title>
			{% block title %} {% endblock %}
		</title>
	</head>
<script>
$(function(){
	window.onhashchange=function(){
		if (window.location.hash.indexOf('#') >= 0) {
			console.log(window.location.hash);
			console.log($(window.location.hash).offset().top);
			console.log(window.location.hash);
			console.log($(window.location.hash).offset());
    			$('html,body').animate({
        			scrollTop: ($(window.location.hash).offset().top - 70) + "px"
    			},300);
		}
	};
});
</script>
	<body style = "padding-top:40px; font-family: Arial,sans-serif;color: #434343;">
		<div class='panel panel-default' id='TopElement'>
                        <div class='panel-header'>
                        {% include 'header.html' %}
                        </div>
                </div>
		<div class='col-sm-2 col-md-2' style="position:fixed;z-index:999;top:100px;left:0;;">
			<div class="list-group">
  				<a class="list-group-item" href="javascript:void(0)" class='anchor' >&nbsp;查询词缀</a>
  				<a class="list-group-item" href="#TopElement" class='anchor' >&nbsp;回到顶部</a>
  				<a class="list-group-item" href="/affix/prefix" class='anchor'>&nbsp;前缀</a>
  				<a class="list-group-item" href="/affix/suffix" class='anchor'>&nbsp;后缀</a>
			</div>
		</div>
		<div class='container-fluid' >
		<div class='row'>
			<div class='col-sm-2 col-md-2'>
			</div>
			<div class = 'col-sm-10 col-md-10'>
					{% block content %} {% endblock %}
			</div>
		</div>
		</div>
		<br>
		<br>
		{% include 'footer.html' %}
	</body>
</html>
